@using Blogifier.Core.Web
@using Blogifier.Core.Web.Widget
@inject ILayoutProvider _layout;

@{
    var request = Url.ActionContext.HttpContext.Request;
    var absoluteUrl = $"{request.Scheme}://{request.Host.ToUriComponent()}{request.PathBase.ToUriComponent()}";

    var siteTitle = Model.Blog.Title;
    var siteDesc = Model.Blog.Description;
    var siteFeed = absoluteUrl + "/feed/rss";

    var pageTitle = siteTitle + " | " + siteDesc;
    var pageDesc = siteDesc;
    var pageCanonical = absoluteUrl;

    if (Model.ToString().EndsWith("PostModel"))
    {
        PostModel postModel = (PostModel)Model;
        pageTitle = postModel.Post.Title + " | " + siteTitle;
        pageDesc = postModel.Post.Description.StripHtml();
        pageCanonical = postModel.Post.PostType == PostType.Post ? absoluteUrl + "/posts/" + postModel.Post.Slug : absoluteUrl + "/" + postModel.Post.Slug;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>@pageTitle</title>
    <meta name="description" content="@pageDesc">
    <link rel="alternate" type="application/rss+xml" title="@siteTitle" href="@siteFeed" />
    <link rel="canonical" href="@pageCanonical" />

    @await Component.InvokeAsync("Widget", new { area = WidgetAreas.HEAD_END})

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="~/_content/Blogifier.Plugin.Theme.Freelancer/css/styles.css" asp-append-version="true">
    <link rel="stylesheet" href="~/_content/Blogifier.Plugin.Theme.Freelancer/css/theme.css" asp-append-version="true">
    @_layout.TopCss()
    @Html.Raw(Model.Blog.HeaderScript)
</head>


<body id="page-top">
    @await Component.InvokeAsync("Widget", new { area = WidgetAreas.PAGE_START})

    <partial name="../components/header.cshtml" />
    @RenderBody()
    <partial name="../components/footer.cshtml" />

    <script src="~/_content/Blogifier.Plugin.Theme.Freelancer/js/highlight.js" asp-append-version="true"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/_content/Blogifier.Plugin.Theme.Freelancer/js/scripts.js"></script>
    <script src="~/_content/Blogifier.Plugin.Theme.Freelancer/js/custom.js"></script>



    @_layout.BottomJs()
    @Html.Raw(Model.Blog.FooterScript)
    <partial name="../components/metadata.cshtml" />


    @await Component.InvokeAsync("Widget", new { area = WidgetAreas.PAGE_END})
</body>

</html>
