@using Blogifier.Shared.Resources
@using Blogifier.Shared
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@inject IOptions<FreelancerThemeSettings> _settings
@inject IStringLocalizer<Resource> _localizer

@{
    ListModel listModel = (ListModel)Model;
    string root = Url.Content("~/");
}

@if (listModel.Posts.Count() > 0)
{
    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center">
        @{
            var id = 1;
        }
        @foreach (var post in listModel.Posts)
        {
            <!-- Portfolio Item @id-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal@(id)">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/@post.Cover" alt="@post.Title" />
                </div>
            </div>

            id++;
        }
    </div>
}
else
{
    <div class="h1 text-capitalize">@_localizer["empty"]!</div>
}


@if (listModel.Posts.Count() > 0)
{
    var id = 1;
    @foreach (var post in listModel.Posts.Concat(listModel.Posts))
    {
        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal@(id)" tabindex="-1" aria-labelledby="portfolioModal@(id)" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">@post.Title</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="~/@post.Cover" alt="@post.Title" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">
                                        @post.Description
                                    </p>
                                    @if (_settings.Value.EnableBlogPages)
                                    {
                                        <a class="btn btn-primary" href="~/posts/@post.Slug">
                                            View <i class="fas fa-external-link-alt fa-fw"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary" data-bs-dismiss="modal">
                                            <i class="fas fa-xmark fa-fw"></i>
                                            Close Window
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        id++;
    }
}
